/*
 * layout 的样式
 */

@import './setting.less';

.app-warpper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .app-top {
    position: relative;
    z-index: 300;
  }

  .app-content {
    flex: 1;
    display: flex;

    .app-content-left {
      position: relative;
      z-index: 300;
      width: 80px;
    }

    .app-content-right {
      flex: 1;
      min-width: 300px;
    }
  }
}